#to-do-lists {
  min-width: 250px;
  min-height: 100px;
  position: absolute;
  padding: 1rem;
  left: 50%;
  top: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: #fffeff;
  color: #93d7b7;
  display: grid;
  grid-template-rows: auto minmax(100px, auto) minmax(45px, 45px);
}

#input-elements {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-bottom: 10px;
}

.todo-element {
  display: grid;
  grid-template-columns: 77% 1fr;
  padding: 5px;
  margin-bottom: 5px;
}

.spanButton {
  cursor: pointer;
  border: 2px solid;
  margin-left: 2em;
  border-radius: 2rem;
  border-color: #93d7b7;
  height: 16px;
  width: 16px;
  text-align: center;
  padding: 2px;
}

@keyframes slidein {
  from {
    margin-left: 80px;
    width: 80px;
  }

  to {
    margin-left: 0px;
    width: 0px;
  }
}

@keyframes slideout {
  0% {
    -webkit-transform: translateX(10);
    transform: translateX(10);
  }

  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

.todo-element-label-in {
  animation-duration: 0.5s;
  animation-name: slidein;
}

.todo-element-label-out {
  animation-duration: 0.5s;
  animation-name: slideout;
}

.todo-element-label-in:hover {
  text-decoration: underline;
  cursor: pointer;
}

#todo-list-options {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding-top: 2%;
  grid-column-gap: 3%;
}

input {
  font-size: 14px;
  margin: 0 0.5rem 0 0;
  border-radius: 2rem;
  border-style: solid;
  padding: 0.75em 1.5rem;
  border-radius: 20px;
  border-width: 1px;
  border-color: #93d7b7;
}

input:focus {
  outline: none;
}

button {
  border-radius: 18px;
  border: 2px solid;
  border-color: #93d7b7;
  color: #93d7b7;
  font-size: 14px;
  border-radius: 2rem;
  cursor: pointer;
  background: none;
}

button:hover {
  background-color: #93d7b7;
  color: #fffeff;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #to-do-lists {
    min-height: 40%;
    position: absolute;
    padding: 1rem;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: #fffeff;
    color: #93d7b7;
    display: grid;
    grid-template-rows: auto minmax(50%, auto) minmax(1rem, auto);
  }

  #input-elements {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #todo-list-options {
    margin-bottom: -25px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  input {
    padding: 0.2em 1.5rem;
    border-color: #93d7b7;
    font-size: 80%;
    margin-bottom: 7px;
    height: 25px;
    margin-left: -10px;
  }

  .todo-element {
    grid-template-columns: 3fr 1fr;
  }
}